/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { 
  height: 100%; 
  background-color: #f1f1f1;
}

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
  font-family: Georgia, 'Bitstream Charter', serif;  
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

div.posts {
  margin-top: 45px;
}

div.entry {
  margin-bottom: 57px;
}

div.entry h2 {
  font-size: 21px;
}

div.entry h2 a {
  color: #000;
  text-decoration: none;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 980px;
  margin: 3em auto 2em;
  line-height: 1.5em;
  background-color: #FFF;
}

.site .inner {
  padding: 42px 20px 0 20px;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

.container {
  background-color: #f1f1f1;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.header {
  background-image: url("/images/header.jpg");
  width: 940px;
  height: 237px;
  position: relative;
  background-color: #000;
  border-top: 3px solid #000;
}

.header .nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  height: 39px;
  background-color: #000;
  color: #FFF;
  line-height: 39px;
  padding-left: 30px;
}

.header .nav a, .header .nav a:link, .header .nav a:active, .header .nav a:visited {
  color: #FFF;
  font-weight: normal;
}

.site-name {
  
}

h2.site-name  {
  padding: 0;
  margin: 0 0 25px 0;
  font-size: 30px;
}

h2.site-name a, h2.site-name  a:link, h2.site-name  a:active, h2.site-name a:visited {
  color: #000;
  text-decoration: none;
}

.posts .entry h2, .posts .entry h2 a, .posts .entry h2 a:link, .posts .entry h2:avtive, .posts .entry h2:visited {
  color: #000;
  text-decoration: none;
  border: 1px solid #F00;
}

.page {
  margin-top: 42px;
}

.entry h1 {
  font-size: 21px;
}

.post-pager {
  font-size: 12px;
  color: #888;
  height: 20px;
}

.post-pager a, .post-pager a:link, .post-pager a:active, .post-pager a:visited {
  font-size: 12px;
  color: #888;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  text-decoration: none;
}

.post-pager a.prev
{
  float: left;
}

.post-pager a.next
{
  float: right;  
}

.author-info {
  background-color: #F2F7FC;
  padding: 20px;
  border-top: 3px solid #000;
  clear: both;
  height: 150px;
}

.author-info .image {
  float: left;
  width: 20%;
}

.author-info .info {
  float: left;
  width: 70%;
  padding-left: 10px;
}

.author-info .image img {
  height: 150px;
}

.content-container {
  display: block;
  clear: both;
  display: inline-block;
}

.page, #home {
  width: 70%;
  margin-right: 0;
  float: left;
}

.meta {
  font-size: 12px;
  color: #888;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  text-decoration: none;
}

.meta a, .meta a:link, .meta a:active, .meta a:visited {
  color: #888;
}

.side-nav {
  float:left;
  width: 29%;
}

.about-mike {
  display: block;
  color: #888;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  text-align: left;
  font-size: 12px;
  padding: 10px 0 0 0;
  margin: 0 0 0 30px;
  margin-top: 125px;
  background-color: #F2F7FC;
}

.about-mike p {
  padding: 0 10px 0px 10px;
}

.about-mike p a, .about-mike p a:link, .about-mike p a:active, .about-mike p a:visited {
  color: #777;
}

.about-mike .portrait {
  background-image: url(/images/mike-lee.jpg);
  background-size: 100% auto;
  background-position: 0 -25px;
  height: 242px;
  background-color: #000;
  margin-top: 30px;
}

.content-links {
  margin-left: 30px;
  margin-top: 20px;
  text-align: right;
}

.content-links .atom, .content-links .rss {
  background-image: url(/images/feed-icon-28x28.png);
  background-repeat: no-repeat;
  background-position: left middle;
  background-size: auto 100%;
  height: 28px;
  padding: 0 0 0 22px;
  color: #888;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}

.content-links .twitter {
  background-image: url(/images/twitter-bird-light-bgs.png);
  background-repeat: no-repeat;
  background-position: left middle;
  background-size: auto 100%;
  height: 38px;
  padding: 0 0 0 22px;
  color: #888;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}

.content-links .github {
  background-image: url(/images/github.png);
  background-repeat: no-repeat;
  background-position: left middle;
  background-size: auto 100%;
  height: 38px;
  padding: 0 0 0 22px;
  color: #888;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}


.content-links a, .content-links a:link {
  text-decoration: none;  
}

.content-links .rss  {
  margin-right: 5px;
}


