<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <div class="container">
          <div class="site">
            <div class="inner">
                <h2 class="site-name">
                    <a href="/" title="{{ site.name }}">
                    {{ site.name }}
                    </a>
                </h2>
                <div class="header">
                    <div class="nav">
                      <h1 class="home"><a href="/">Home</a></h1>
                      <a class="extra" href="/">home</a>
                  </div>
                </div>

                    {{ content }}

                <div class="footer">
                  <div class="contact">
                    <p>
                      Mike Lee<br />
                      World Toughest Programmer<br />
                      bmf@le.mu.rs
                    </p>
                  </div>
                  <div class="contact">
                    <p>
                      <a href="http://github.com/ElDragonRojo/">github.com/ElDragonRojo</a><br />
                      <a href="http://twitter.com/bmf/">twitter.com/bmf</a><br />
                    </p>
                  </div>
                </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
